@font-face {
  font-family: "TRY Vesterbro";
  font-style: normal;
  font-weight: 100;
  src: url("/vendor/fonts/TRYVesterbro-Light.otf");
}

@font-face {
  font-family: "TRY Vesterbro";
  font-style: normal;
  font-weight: 400;
  src: url("/vendor/fonts/TRYVesterbro-Regular.otf");
}

@font-face {
  font-family: "TRY Vesterbro";
  font-style: normal;
  font-weight: 500;
  src: url("/vendor/fonts/TRYVesterbro-Medium.otf");
}

@font-face {
  font-family: "TRY Vesterbro";
  font-style: normal;
  font-weight: 600;
  src: url("/vendor/fonts/TRYVesterbro-Bold.otf");
}

@font-face {
  font-family: "TRY Vesterbro";
  font-style: normal;
  font-weight: 900;
  src: url("/vendor/fonts/TRYVesterbro-Extrabold.otf");
}