@import "./fonts";
@import "./mixins";

%img-fit {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

html, body {
  height: 100%;
}

*, *:after, *:before {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #5E666E;
  font-family: "TRY Vesterbro";
  font-size: 16px;
  font-weight: 400;
  color: #FFF;
  margin: 0;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

main {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 1510px;
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include mq(1439px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;

  @extend %img-fit;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 121px;
}

.header-menu {
  display: flex;

  &__item {
    margin: 0 20px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    transition: .5s;

    &:hover {
      opacity: .4;
    }
  }
}

.pages {
  height: 100%;

  &-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &-dots {
    position: fixed;
    z-index: 10;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.main-screen {
  position: relative;
  max-height: 100%;
  height: 865px;
  width: 100%;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    @extend %img-fit;
  }

  &__title {
    font-size: 71px;
    margin-top: 160px;
    font-weight: bold;
    line-height: 96px;
  }

  &-video {
    margin-top: 60px;

    &__img {
      width: 338px;
      height: 189px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      display: inline-block;

      @extend %img-fit;

      svg {
        position: absolute;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
        cursor: pointer;
        z-index: 2;
      }

      &:after {
        @include pseudo;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.3);
        opacity: 0;
        transition:  .2s;
        z-index: 1;
      }

      &:hover:after {
        opacity: 1;
      }
    }

    &__caption {
      font-size: 15px;
      margin-top: 5px;
      font-weight: 300;
    }
  }
}

.location {
  position: relative;
  max-height: 100%;
  height: 865px;
  width: 100%;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;

    @extend %img-fit;
  }
}

.slick-slide {
  height: 100vh !important;
  position: relative;
  border: none !important;
}

ul.slick-dots {
  list-style: none;

  li {
    margin: 0;
    padding: 0;

    button {
      font-size: 0;
      border: none;
      width: 2px;
      height: 10px;
      transition: .3s;
      padding: 0;
      cursor: pointer;
      border-radius: 2px;
      margin: 5px 0;
      opacity: .5;
    }

    &.slick-active {
      button {
        height: 30px;
        opacity: 1;
      }
    }
  }
}